<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhwang.invoicing.dao.PurchaseInItemsMapper">
  <resultMap id="BaseResultMap" type="com.yhwang.invoicing.entity.PurchaseInItems">
    <id column="pii_id" jdbcType="INTEGER" property="piiId" />
    <result column="pib_id" jdbcType="INTEGER" property="pibId" />
    <result column="comm_id" jdbcType="INTEGER" property="commId" />
    <result column="pii_amount" jdbcType="INTEGER" property="piiAmount" />
    <result column="purc_price" jdbcType="DECIMAL" property="purcPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    pii_id, pib_id, comm_id, pii_amount, purc_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_in_items
    where pii_id = #{piiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase_in_items
    where pii_id = #{piiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    insert into purchase_in_items (pii_id, pib_id, comm_id, 
      pii_amount, purc_price)
    values (#{piiId,jdbcType=INTEGER}, #{pibId,jdbcType=INTEGER}, #{commId,jdbcType=INTEGER}, 
      #{piiAmount,jdbcType=INTEGER}, #{purcPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    insert into purchase_in_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="piiId != null">
        pii_id,
      </if>
      <if test="pibId != null">
        pib_id,
      </if>
      <if test="commId != null">
        comm_id,
      </if>
      <if test="piiAmount != null">
        pii_amount,
      </if>
      <if test="purcPrice != null">
        purc_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="piiId != null">
        #{piiId,jdbcType=INTEGER},
      </if>
      <if test="pibId != null">
        #{pibId,jdbcType=INTEGER},
      </if>
      <if test="commId != null">
        #{commId,jdbcType=INTEGER},
      </if>
      <if test="piiAmount != null">
        #{piiAmount,jdbcType=INTEGER},
      </if>
      <if test="purcPrice != null">
        #{purcPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    update purchase_in_items
    <set>
      <if test="pibId != null">
        pib_id = #{pibId,jdbcType=INTEGER},
      </if>
      <if test="commId != null">
        comm_id = #{commId,jdbcType=INTEGER},
      </if>
      <if test="piiAmount != null">
        pii_amount = #{piiAmount,jdbcType=INTEGER},
      </if>
      <if test="purcPrice != null">
        purc_price = #{purcPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where pii_id = #{piiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    update purchase_in_items
    set pib_id = #{pibId,jdbcType=INTEGER},
      comm_id = #{commId,jdbcType=INTEGER},
      pii_amount = #{piiAmount,jdbcType=INTEGER},
      purc_price = #{purcPrice,jdbcType=DECIMAL}
    where pii_id = #{piiId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yhwang.invoicing.entity.PurchaseInItems">
    <id column="pii_id" jdbcType="INTEGER" property="piiId" />
    <result column="pib_id" jdbcType="INTEGER" property="pibId" />
    <result column="comm_id" jdbcType="INTEGER" property="commId" />
    <result column="pii_amount" jdbcType="INTEGER" property="piiAmount" />
    <result column="purc_price" jdbcType="DECIMAL" property="purcPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    pii_id, pib_id, comm_id, pii_amount, purc_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_in_items
    where pii_id = #{piiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase_in_items
    where pii_id = #{piiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    insert into purchase_in_items (pii_id, pib_id, comm_id, 
      pii_amount, purc_price)
    values (#{piiId,jdbcType=INTEGER}, #{pibId,jdbcType=INTEGER}, #{commId,jdbcType=INTEGER}, 
      #{piiAmount,jdbcType=INTEGER}, #{purcPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    insert into purchase_in_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="piiId != null">
        pii_id,
      </if>
      <if test="pibId != null">
        pib_id,
      </if>
      <if test="commId != null">
        comm_id,
      </if>
      <if test="piiAmount != null">
        pii_amount,
      </if>
      <if test="purcPrice != null">
        purc_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="piiId != null">
        #{piiId,jdbcType=INTEGER},
      </if>
      <if test="pibId != null">
        #{pibId,jdbcType=INTEGER},
      </if>
      <if test="commId != null">
        #{commId,jdbcType=INTEGER},
      </if>
      <if test="piiAmount != null">
        #{piiAmount,jdbcType=INTEGER},
      </if>
      <if test="purcPrice != null">
        #{purcPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    update purchase_in_items
    <set>
      <if test="pibId != null">
        pib_id = #{pibId,jdbcType=INTEGER},
      </if>
      <if test="commId != null">
        comm_id = #{commId,jdbcType=INTEGER},
      </if>
      <if test="piiAmount != null">
        pii_amount = #{piiAmount,jdbcType=INTEGER},
      </if>
      <if test="purcPrice != null">
        purc_price = #{purcPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where pii_id = #{piiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhwang.invoicing.entity.PurchaseInItems">
    update purchase_in_items
    set pib_id = #{pibId,jdbcType=INTEGER},
      comm_id = #{commId,jdbcType=INTEGER},
      pii_amount = #{piiAmount,jdbcType=INTEGER},
      purc_price = #{purcPrice,jdbcType=DECIMAL}
    where pii_id = #{piiId,jdbcType=INTEGER}
  </update>
</mapper>